.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

#login-box {
	width: 265px;
	height: 150px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}

#registration-box {
	width: 550px;
	height: 350px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}

#login-button {
	margin-top: 10px;
}

h1,h2,h3,#fontstyle {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}

#list-box {
	width: 200px;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #000;
}

#list-users {	
	width: 800px;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #000;
}

#head {
	background: #E6E5E5;
}