h1,h2,h3,#fontstyle {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}

#head {
	background: #E6E5E5;
}

#list-box {
	width: 200px;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	border: 1px solid #000;
}